/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}

.box {
    border: 1px solid green;
    padding: 25px;
    margin: 25px;
}

table {border: none;}


h1,h2,h3,h4,h5,h6 { font-family: arial, helvetica, sans-serif; }

@import url('https://fonts.googleapis.com/css?family=Roboto');

font-family: 'Roboto', sans-serif;

@font-face {
font-family: 'Roboto', sans-serif;
}


/*Phone*/
@media only screen and (max-width:320px){
	.span_1 {
		width: 100%;
	}
}

/*Tablet*/
@media only screen and (min-width:321px) and (max-width:768px){
	.span_2 {
		width: 100%;
	}
	.span_1 {
		width: 49.2%;
	}
}

/*Desktop*/
@media only screen and (min-width:769px){
	.span_4 {
		width: 100%;
	}
	.span_3 {
		width: 74.6%;
	}
	.span_2 {
		width: 49.2%;
	}
	.span_1 {
		width: 23.8%;
	}
}