/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}

.box {
    border: 1px solid green;
    padding: 25px;
    margin: 25px;
}

/*Phone*/
@media only screen and (max-width:320px){
	.span_1 {
		width: 100%;
	}
}

/*Tablet*/
@media only screen and (min-width:321px) and (max-width:768px){
	.span_2 {
		width: 100%;
	}
	.span_1 {
		width: 49.2%;
	}
}

/*Desktop*/
@media only screen and (min-width:769px){
	.span_4 {
		width: 100%;
	}
	.span_3 {
		width: 74.6%;
	}
	.span_2 {
		width: 49.2%;
	}
	.span_1 {
		width: 23.8%;
	}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#light h1 { color : grey; } 

/* neon theme */
#neon h1 { color : pink; } 